<!-- <section ng-controller="GroupsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Group</h1>
  </div>
  <div class="col-md-12">
    <form name="groupForm" class="form-horizontal" ng-submit="update(groupForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="group.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="groupForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">group title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="group.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section> -->
<section data-ng-controller="GroupsEditController as groupsEditCtrl" >
    <div class="modal-header">
            <h3 class="modal-title">{{group.name}} </h3>
    </div>
    <div class="modal-body">
        <form name="updateGroupForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-home cust-list-small"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="group.name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="groupsEditCtrl.remove(group);ok()">
            Delete
        </button>
        <button class="btn btn-success" type="button" ng-click="groupsEditCtrl.update(group);ok()" ng-disabled="updateGroupForm.$invalid">Update & close</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

</section>