.pointer{
	cursor: pointer;
}


@media print {
	body * {
	    visibility: hidden;
	}
	#print-content * {
	    visibility: visible;
	    width:100%;
	}
}

th {
    background-color: #76767B;
    color: white;
} 