<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1><span class="glyphicon glyphicon-education"></span> Teach<strong>Plan</strong></a></h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Votre outils de gestion de présence
      </p>
    </div>
  </div>
  <div>
    <h2>TeachPlan vous fait gagner du temps!</h2>
    <p>Utilisez votre smartphone pour prendre les présences :-)</p>
    <ul>
      <li>
        <em>Enregistrez-vous</em> pour essayer l'application.
      </li>
      <li>
        Créez votre groupe d'étudiants.
      </li>
      <li>
        Prenez les présences
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>E</strong>tudiants</h2>
      <p>Gérez la liste des étudiants facilement et simplement. Ajoutez une photo, les personnes a contacter (parents, grand parants).</p>
    </div>
    <div class="col-md-3">
      <h2><strong>G</strong>roupes</h2>
      <p>Créez des groupes d'étudiants.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>L</strong>eçons</h2>
      <p>Pour chaque groupe vous pouvez créer des leçons et prendre les présences à chacunes de ces leçons.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>résence</h2>
      <p>Gérez facilement la présence de chaque étudiants dans votre groupe.</p>
    </div>
  </div>
</section>
